html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dataTables_filter{
    margin-bottom: 15px !important;
}

.table {
    --bs-table-bg: #FFFFFF;
    --bs-table-striped-bg: rgba(32, 163, 158, 0.1);
    --bs-table-hover-bg: rgba(32, 163, 158, 0.2);
    --bs-table-striped-color: #1F2A37;
    --bs-table-hover-color: #1F2A37;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.table {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #1F2A37;
}

.table {
    border-collapse: collapse;
}

    .table th, .table td {
        border: 1px solid rgba(32, 163, 158, 0.1);
        padding: 12px 15px;
    }

.btn-primary {
    background-color: #20A39E !important;
    border-color: #20A39E !important;
    color: #FFFFFF !important;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #178780 !important;
        border-color: #178780 !important;
        color: #FFFFFF !important;
    }

.banner {
    width: 100%;
    height: auto;
    display: block;
}


.navbar-icon {
    width: 70px;
    height: 40px;
    margin-right: 15px;
    vertical-align: middle;
    padding-left: 20px
}

.display-4 {
    background-color: #20A39E !important;
    border-color: #20A39E !important;
    color: #FFFFFF !important;
    transition: background-color 0.3s;
}



h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}