@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" href="~/css/styles.css" />
    <header>
    <img src="NewFolder2/PV.png" alt="Banner principal" class="banner">
    </header>   
    <h1 class="display-4">Cinco Mas Cinco</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
