@{
    ViewData["Title"] = "Punto de Venta";
}

<div class="text-center">
     <link rel="stylesheet" href="~/css/styles.css" />
    <header>
    <img src="img/PV.png" alt="Banner principal" class="banner">
    </header>   
    <h1 class="display-4">Cinco Mas Cinco</h1>
</div>
